ul {
  border: 1px solid rgb(100, 100, 100);
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  margin: 15px;
  padding: 10px;
  font-weight: 600;
  transition: all 0.2s;
}

.team-name {
  font-weight: 400;
}

ul:hover {
  scale: 1.05;
}
